

/* 初期設定
---------------------------------------------------------------------*/

/* フォント
---------------------------------------------------------------------*/
@font-face {
    font-family: 'LigatureSymbols';
    src: url('../font/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('../font/LigatureSymbols-2.11.woff') format('woff'),
         url('../font/LigatureSymbols-2.11.ttf') format('truetype'),
         url('../font/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('../font/LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face
{
	font-family: 'mplus';
	src: url('http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-regular.ttf') format("truetype");
}

.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;
}

.lsf-icon.amazon:before {
  content: '\E007';
}

@font-face {
  font-family: 'FLOP';
  src: url('../font/01FLOPDESIGN.otf') format('truetype');
}
@font-face {
	font-family: 'hima';
	src: url('../font/KFhimaji.otf') format('truetype');
}
@font-face {
	font-family: 'kozu';
	src: url('../font/KozGoPr6N-Light.otf') format('truetype');
}


html,body{
	position:relative;
	color: #1C140D;
	overflow-x : hidden ;
 	font-family: 'FLOP';
	height: 100%;
}


.margin{
	margin-bottom: 100px;
}

img{
	max-width: 100%;
}
span{
	-wedkit-transition: all 0.9s;
	-moz-tranzition: all 0.9s;
	transition: all 0.9s;
	cursor: pointer;
}


div#navi{
	}

div#contents{
	width: 960px;
	margin: 0 auto 0 auto;
}

div#footer{}
/* リンク
---------------------------------------------------------------------*/
a{
	color: #fff;
	text-decoration:none;
}

.icon{
	font-size:36px;
}


/* スクロールバー

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
---------------------------------------------------------------------*/
/* header　インデックス
 
/* タブレット用css */
@media only screen and (min-width: 481px) {

}


---------------------------------------------------------------------*/

/* スマートフォン用css */

header#index{
	position:fixed;
	width: 100%;
	height: 80%;
	max-height: 300px;
	margin: 0 auto;
	background-color: #fff;
	z-index: 1000;
}

header#index ul{
	width: 80%;
	max-width:1000px;
	margin: 0px auto;
	
}

header#index ul li{
	float:left;
	width:50%;
	padding: 100px 50px;
}

header#index h1{
	font-size: 150px;
	color: #333;
	line-height: 250px;
	text-align:center;
}

header#index ul li p{
	line-height: 3em;
}

header p#search {
	position:absolute;
	top:0;
	right:0;
	padding: 50px;
	
}
/* タブレット用css */
@media only screen and (min-width: 481px) {
header#index{
	position:fixed;
	width: 100%;
	height: 80%;
	max-height: 500px;
	margin: 0 auto;
	background-color: #fff;
	z-index: 1000;
}

header#index ul{
	width:1000px;
	margin: 0px auto;
	
}

header#index ul li{
	float:left;
	width:400px;
	padding: 100px 50px;
}

header#index h1{
	font-size: 150px;
	color: #333;
	line-height: 250px;
	text-align:center;
}

header#index ul li p{
	line-height: 3em;
}

header p#search {
	position:absolute;
	top:0;
	right:0;
	padding: 50px;
	
}

}




/* PC用css */
@media only screen and (min-width: 769px) {

header#index{
	position:fixed;
	width: 100%;
	height: 60%;
	max-height: 500px;
	margin: 0 auto;
	background-color: #fff;
	z-index: 1000;
}

header#index ul{
	width:1000px;
	margin: 0px auto;
	
}

header#index ul li{
	float:left;
	width:400px;
	padding: 80px 50px;
}

header#index h1{
	font-size: 150px;
	color: #333;
	line-height: 250px;
	text-align:center;
}

header#index ul li p{
	line-height: 3em;
}

header p#search {
	position:absolute;
	top:0;
	right:0;
	padding: 50px;
	
}

}



/* header　TOP
---------------------------------------------------------------------*/

header#top {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background: #eee;
	padding-bottom: 20px;
}

header#top h1 {
	padding-top: 30px;
	font-size: 30px;
}
 

header#web {
	width: 100%;
	margin: 0 auto;
	height: 230px;
	text-align: center;
	background: #eee;
}

header#web h1 {
	padding-top: 30px;
	font-size: 30px;
}
 


/* nav
---------------------------------------------------------------------*/

nav {
	position:relative;
	width: 100%;
	height:50px;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#038575', endColorstr = '#013b33');
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#038575', endColorstr = '#013b33')";
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
background-image: -moz-linear-gradient(top, #038575, #013b33);
background-image: -ms-linear-gradient(top, #038575, #013b33);
background-image: -o-linear-gradient(top, #038575, #013b33);
background-image: -webkit-gradient(linear, center top, center bottom, from(#038575), to(#013b33));
background-image: -webkit-linear-gradient(top, #038575, #013b33);
background-image: linear-gradient(top, #038575, #013b33);
/*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/
opacity: 0.89;
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 89);
/*-ms-filter must come before filter*/
filter: alpha(opacity = 89);
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*All filters must be placed together*/

}

nav ul{
	width:1200px;
	margin: 0 auto;
}

nav ul li{
	float:left;
	text-align: center;
	width: 20%;
	line-height: 50px;
	
}

nav ul li:first-child{
	margin-left: 0px;
}

nav ul li a{
	display: block;
	width: 100%;
	height: 100%;
}

nav ul li#con a{
	display: block;
	color: #ff4d52;
	}
input,textarea {
	box-shadow: none;
	padding: 5px 10px;
	cursor: pointer;
	margin:5px auto;
	background: #fff;
	border:1px #ccc solid;
	border-radius:3px;
}
input:focus,textarea:focus {
	border: 1px #999 solid;
	}



/* about
---------------------------------------------------------------------*



/* use
-----------------------------*/



/* section
---------------------------------------------------------------------*/

h1{
	margin-bottom: 50px;
	font-size: 50px;
	text-align:center;
}


/* モーダルウィンドウ
---------------------------------------------------------------------*/

.tbox {
	position:absolute; 
	top: 100px;
	display:none; 
	padding:14px 17px; 
	z-index:900;
}
.tinner {
	padding:20px; 
	-moz-border-radius:5px; 
	border-radius:5px; 
	background:#fff url(../img/preload.gif) no-repeat 50% 50%; 
	border-right:1px solid #333; 
	border-bottom:1px solid #333;
	overflow:scroll;
}
.tmask {
	position:absolute; 
	display:none; 
	top:0px; 
	left:0px; 
	height:120%; 
	width:100%; 
	background:#000; 
	z-index:800;
	opacity:0.8;
}
.tclose {
	position:absolute; 
	top:0px; 
	left:0px;
	 width:30px; 
	 height:30px; 
	 cursor:pointer; 
	 background:url(../img/close.png) no-repeat;
}
.tclose:hover {
	background-position:0 -30px;
}




/* デザイントップ
---------------------------------------------------------------------*/
p.des {
	color: #1abc9c;
}

p.des a{
	color: #1abc9c;
}

dl{
	color: #f03;
}









#menuwrap {
	width: 100%;
	overflow-x: hidden;
	z-index: 5;
}

#menu {
	position: absolute;
	top:0;
	width: 12.5%;
	height: 100%;
	float: left;
	color: #fff;
	-wedkit-transition: all 0.9s;
	-moz-tranzition: all 0.9s;
	transition: all 0.9s;
	font-size: 80px;
}

.tub{
	-wedkit-transition: all 0.9s;
	-moz-tranzition: all 0.9s;
	transition: all 0.9s;
}
.tub:hover {
	width: 70px;
	padding:30px;	
	
}
#menu:hover {
	width: 18.5%;
	height: 100%;
	float: left;
	color: #fff;
	z-index: 100;
	margin-left: -3%;
}

#menu p{
	width: 100%;
	position: absolute;
	top:525px;
	text-align: center;
	color: #fff;
	
}

#menu p a{
	display:block;
	width: 100%;
	height: 100%;
	line-height: 0.8em;
}

#openmenu {
	position: fixed;
	top: 20px;
	left: 0px;
	padding: 5px 25px;
	background-color:#e54444;
	border-radius: 0px 5px 5px 0px;
}

#login {
	position: fixed;
	top: 90px;
	left: 0px;
	padding: 10px 35px;
	background-color: #e5447a;
	border-radius: 0px 5px 5px 0px;
	font-size: 32px;
	text-align: center;
}

#scrollTop {
	position: fixed;
	top: 600px;
	left: 0px;
	padding: 10px 35px;
	background-color: #e5447a;
	border-radius: 0px 5px 5px 0px;
	font-size: 32px;
	text-align: center;
}








/* TOP */

.color1 {
	background-color:#e54444 ;
	left: 0;
}
.color2 {
	background-color:#e5447a ;
	left: 12.5%;
}
.color3 {
	background-color:#af44e5 ;
	left: 25%;
}
.color4 {
	background-color:#5f44e5 ;
	left: 37.5%;
}
.color5 {
	background-color:#44cae5 ;
	left: 50%;
}
.color6 {
	background-color:#44e595 ;
	left: 62.5%;
}
.color7 {
	background-color:#afe544 ;
	left: 75%;
}
.color8 {
	background-color:#e5e544 ;
	left: 87.5%;
}
.color9 {
	background-color:#e59544 ;
	left: 80%;
}
.color10 {
	background-color:#e55f44 ;
	left: 90%;
}





#wrap{
	width: 1300px;
	margin: 0 auto;
}


.wrap{
	width: 1300px;
	margin: 0 auto;
}


/*mixItup */

#Grid .mix{
    opacity: 0;
    display: none;
    color: #333;
}

ul#Grid {
	width:100%;
	max-width: 1350px;
	margin: 0 auto;
}
li.mix {
	margin: 10px;
	text-align: center;
	width: 310px;
	height: 310px;
}


li.mix a{
	width: 310px;
	height: 310px;
	background:#eee;
	display: block;
	color: #333;
	line-height: 1.7em;
}
li.mix  a:hover{
	opacity: 0.8;
}


ul#mixNav{
	margin: 0 auto;
	margin-left: 20px;
	margin-bottom: 20px;
	float:left;
}


ul#mixNav li{
	float: left;
	margin-left: 20px;
	cursor:pointer;
	background: #ddd;
	padding: 20px;	
	-wedkit-transition: all 0.3s;
	-moz-tranzition: all 0.3s;
	transition: all 0.3s;

}

ul#mixNav li:first-child{
	background: #eee;
	cursor: auto;
}

ul#mixNav li:hover {
	background: #ccc;
}
ul#mixNav li:first-child:hover{
	background: #eee;
}
ul.controls{
	width: 1300px;
		margin: 0 auto;	

}

ul.controls li {
	margin-left: 20px;
	cursor:pointer;
	background: #ddd;
	padding: 20px;	
	-wedkit-transition: all 0.3s;
	-moz-tranzition: all 0.3s;
	transition: all 0.3s;
	float:left;
		
}
ul.controls li:first-child {
	background: #eee;
	cursor: auto;
}
ul.controls li:hover {
	background: #ccc;
}
ul.controls li:first-child:hover {
	background: #eee;
}


li.mix  div.colorDisp{
	height: 50px;
	margin: 0px;
	float:left;
}

li.mix p{
	width: 270px;
	margin: 0 auto;
	padding: 20px;	
	white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
}






















div.controls ul{
	width: 1000px;
	margin: 0 auto;
}

div.controls li{
	float: left;
	margin-left: 30px;
}



.colorP{
	background: #fff;
}




/*　カラーピッカー　*/
div#colorDiv{
	display:none;
	width:500px;
	position: absolute;
	top:10%;
	left:10%;
	background:#fff;
	border-radius:3px;
	color:#333;
	border: #333 1px;
	text-align: center;
	z-index: 10000;
 	font-family: 'FLOP';
}

#colorDiv h3{
	width: 100%;
	font-size: 12px;
	background:#999;
	color:#ffffff;
	text-align:center;
	padding: 10px 0px;
	border-radius:3px 3px 0px 0px;
	cursor: move;
}

#colorDiv p{
	padding: 20px;
	padding-top: 0px;
}

#colorDiv input{
	background: #999;
	border:none;
	color:#fff;
	margin: 0 auto:
	padding: 3px 10px;
}
	
#colorDiv td {
	padding:10px;
	}
	
	.wrap{
		width:1000px;
		margin:0 auto;
	}
	
#target,#elem {
	color	: #f06;
	}	
	
	
.btn {
	border:none;
	background: #eee;
	margin: 10px auto;
	border-radius: 3px;
	-wedkit-transition: all 0.3s;
	-moz-tranzition: all 0.3s;
	transition: all 0.3s;
	height: 44px;
	lin-height: 44px;
}
	
.btn:hover {
	background: #ddd;
}
	
	
	
	
/*　インライン */
#winDisp{
	width:100%;
	height:100%;
}


h3#title {
	width:100%;
	padding: 40px 0px;
	background: #eee;
	text-align:center;
	margin-bottom:40px;
	font-size:24px;
	}

h3#pre {
	width:100%;
	padding: 20px 0px;
	background: #eee;
	text-align:center;
	margin-top:40px;
	}


#closeBtn{
	position: absolute;
	width: 40px;
	text-align:center;
	left:455px;
	font-size: 20px;
	background: #aaa;
	padding: 5px 0px;
	padding-left: 5px;
	border-radius:0px 3px 0px 0px;
}
	
	
.elem {
	padding: 10px 20px;
	background: #eee;
	border-radius: 3px;
	margin:5px;
}






/*value*/

ul#value {
	width: 100%;
	margin: 0 auto;
}

ul#value li{
	float: left;
	width: 50%;
	height: 130px;
	overflow-x: none;
	overflow-y: scroll;
	padding:10px 25px;
	 -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}


span.value{
	background: #eee;
	margin-bottom: 10px;
	margin-left: 10px;
	float:left;
	padding: 10px;
	border-radius: 3px;
	text-align:center;
}
span.value:hover {
	background: #ccc;
	color: #000;
}

span.value:first-child{
	margin-left: 0px;
}

#com {
	width: 50%;
}



/* put */

div#result {
	margin: 100px auto;
	width: 1000px;
	text-align:center;
	font-sieze: 24px;

}

div#alert a {
	color: #000;
	display:block;
	background: #eee;
	padding: 20px ;
	margin: 10px;
	width: 90%;
}


.siteSc{
	height: 100px;
}
















/* color Schema */
#colorDivFlat{
	width: 100%;
	height: 60%;
	position:fixed;
	left: 0;
	bottom:0;
	background:#fff;
	
	text-align:center;
}

#colorDivFlat p{
	margin:0 auto;
	width: 1000px;
	padding:10px;
}

#colorDivFlat td {
	padding:10px;
}

#colorDivFlat td .btn {
	float:left;
	margin:0 10px;
	}

#colorDivFlat .btn {
	display:block;
	height: 44px;
	line-height:44px;
	width:100px;
	text-align:center;
	}
	
	
div#colorS {
	width:100%;
	height: 100%;
	background: #fff;
}


div#colorS div{
	height:100%;
	float:left;
	width:20%;
	background:#ccc;}


.colorWrap{
	overflow:hidden;
}









/* myPage*/
header#myPage{
	padding: 20px;
}

article#myPage {
	width:100%;
}

article#myPage section{
	width: 100%;
	padding: 100px 0;
	color: #fff;
}

article#myPage section h2{
	text-align:center;
	padding: 20px 0 ;
	font-size: 200%;
}

article#myPage section p{
	padding: 20px 0;
}

article#myPage section#info {
	padding: 50px 0px;
	color: #000;
}

article#myPage section#info h2 {
	color: #e54444;
}


article#myPage section#myWork {
	background:#e54444 ;
}

article#myPage section#favoUser {
	background:#e5447a ;
}

article#myPage section#mes {
	background:#af44e5 ;
}



 iframe#webSum{
 	position:absolute;
 	margin: 0 auto;
	border:none;
 	width:1300px;
	height: 800px;
	margin-left: -750px;
	margin-top: -250px;
	  -webkit-transform: scale(0.2);  
	    -moz-transform: scale(0.2);  
     }
     
iframe.webSum1 {
	margin-left: 10px;
}
     
 iframe#sum{
 	position:absolute;
 	margin: 0 auto;
	border:none;
 	width:1300px;
	height: 800px;
margin-left: -650px;
margin-top: -300px;
  -webkit-transform: scale(0.2);  
    -moz-transform: scale(0.2);  
     }
     


.page{
	width:100%;
	}     
     
     





/* ユーザ登録 */
#btnSend,#btnBack {
	display:none;

}

td {
	padding: 20px;
        text-align:center;
	vertical-align:middle;
}

#user input {
	width: 50%;
}

#userInput textarea {
	width: 100%;
	height: 100px;
	}
	
	
.wrapInput {
	width: 600px;
	margin: 0 auto;
	text-align:left;
}

.wrapInput h4 {
	margin: 10px;
	margin-top:20px;
	}
	
.wrapInput input {
	width: 50%;
	}
.wrapInput textarea {
	width:100%;
	}
	
.wrapinput .btn {
	width:100%;
	}
	
.divBtn {
	margin: 20px;
	text-align:center;
	}
	
	
	
	
#cover {
	width:100%;
	height: 100%;
	opacity:0.8;
	background: #333;
	z-index: 50;
	position:fixed;
	top:0;
	left:0;
}
    
#alert {
	width:200px;
	height:200px;
	padding:50px;
	border-radius:100%;
	position:fixed;
	top: 50%;
	left:50%;
	margin-left: -150px;
	margin-top: -150px;
	z-index: 100;
	background: #fff;
	text-align:center;
	line-height: 100px;
	opacity:0.9;
	}
	
table {
	margin: 0 auto;
	}