*{
	-wedkit-transition: all 0.9s;
	-moz-tranzition: all 0.9s;
	transition: all 0.9s;

}

@font-face {
	font-family: 'kozu';
	src: url('../../../font/KozGoPr6N-Light.otf') format('truetype');
}


#back{
	position:absolute;
	left:0;
	width: 100%;
	z-index: 100;
	height: 100%;
	background: #fff;

	-wedkit-transition: all 0s;
	-moz-tranzition: all 0s;
	transition: all 0s;
}



#maru{
z-index:200;
	position:absolute;
	top:50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top:-200px;
	margin-left:-200px;
	border-radius: 50%;
	background: #ff0000;
}